.navbar{
 
  border:none;
  border-radius:0px;
}
.navbar-nav li{padding-left:10px}
li input{width:150px}
li select{width:150px}

.dropdown-submenu {
  position: relative;
}
 .dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
.content{margin-top:10px;margin-left: 20px}

.text-center{
  margin-top: 15px;
}

.navbar.mynavhead{
  margin:0px;
  padding: 10px 0px 10px 5px
}
.fields{
  margin-left:100px;
  margin-top:40px;

}