
   <nav class="navbar navbar-inverse" style="background-color: #696969; margin-top: -20px">
    <div class="container">
      <div class="navbar-header">
       </div>
      <ul class="nav navbar-nav" >
       
        <li class="dropdown"><button class="btn btn-default" style="margin-top: 10px">Actions <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a  tabindex="-1">New</a></li>
               <li class="dropdown-submenu"><a class="dropdown-toggle" tabindex="-1" data-toggle="dropdown" >Save As<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a tabindex="-1" >New Trade </a></li>
                <li><a tabindex="-1" >Template Trade</a></li>
              </ul>
            </li>
           <li><a >Save &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ctrl+s</a></li>
            <li><a >Delete</a></li>
            <li class="dropdown-submenu"><a class="dropdown-toggle" tabindex="-1" data-toggle="dropdown" >Reload<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a tabindex="-1" >Latest</a></li>
                <li><a tabindex="-1" >History</a></li>
                <li><a tabindex="-1" >Templates</a></li>
              </ul>
            </li>
            <li><a >Approve</a></li>
            <li><a >Exit</a></li>
          </ul>
        </li>
        <li class="dropdown"><button class="btn btn-default" style="margin-top: 10px">Business Event <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a >Bought Back</a></li>
            <li><a >Partial Bought Back</a></li>
            <li><a >MO Maintenance</a></li>
            <li><a >Migration</a></li>
            <li><a >Assignment</a></li>
            <li><a >Partial Assignment</a></li>
          </ul>
        </li>
        <li class="dropdown"><button class="btn btn-default" style="margin-top: 10px">Flow <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a >Push to MO</a></li>
            <li><a >Push to FO</a></li>
            <li><a >Push to BO</a></li>
            <li><a >Withdraw</a></li>
            <li class="dropdown-submenu"><a class="dropdown-toggle" tabindex="-1" data-toggle="dropdown" >Email<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a tabindex="-1" >Send Ticket</a></li>
                <li><a tabindex="-1" >Send CashFlow</a></li>
                <li><a tabindex="-1" >Send Risk</a></li>
                <li><a tabindex="-1" >Send PV</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown"><button class="btn btn-default" style="margin-top: 10px" >Analytics <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a >Calculate PV   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;F2</a></li>
            <li class="dropdown-submenu"><a class="dropdown-toggle" tabindex="-1" data-toggle="dropdown" >Calculate Risk<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a tabindex="-1" >Delta   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ctrl+D</a></li>
                <li><a tabindex="-1" >Gamma   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ctrl+G</a></li>
                <li><a tabindex="-1" >Vega   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ctrl+V</a></li>
                <li><a tabindex="-1" >Theta  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ctrl+T</a></li>
              </ul>
            <li><a >Calculate PAA   &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;F10</a></li>
            <li><a >CashFlow Report   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;F3</a></li>
          </ul>
        </li>
        </ul>
      </div>
      </nav>
  
      <div>
          <nav class="navbar navbar-inverse " style="border-bottom:2px solid whitesmoke;margin-top:-20px">
            <ul class="nav navbar-nav" style="padding-top:10px">
  
              <li> <input type="text" class="form-control"></li>
              <li> <input type="text" class="form-control"></li>
              <li> <input type="text" class="form-control"></li>
                <li class="content" style="margin-top:0px">
                    Market
                </li>
              <li>
                  <select class="form-control">
                      <option>Live</option>
                      <option>EndOfDay</option>
                      <option>Historic</option>
                    </select>
               
              </li>
              <li class="content" style="margin-top:0px">
                   Today
              </li>
              <li>
                  <input type="date" class="form-control">
              </li>
              
            </ul>
          </nav>
        </div>
      <div class="borderclass" style="margin-top: -20px">
          <div>
              <nav class="navbar navbar-inverse mynavhead" style="border-bottom:2px solid whitesmoke">
                <ul class="nav navbar-nav">
                  <li><button class="btn btn-default" routerLink="/tradebasics" routerLinkActive="active" >TradeBasic</button></li>
                  <li><button class="btn btn-default" routerLink="/swapticket" routerLinkActive="active" >SwapTicket</button></li>
                  <li><button class="btn btn-default" routerLink="/quicktickets" routerLinkActive="active" >QuickTicket</button></li>
                </ul>
              </nav>
            </div></div>
          
        <div class="clearfix"></div>
     
        <div class="form-group col-sm-6">
            <div class="form-group col-sm-12">
                <label class="control-label" id="fname">Version</label>
                   <input type="text" class="form-control" id="fname" placeholder="">
              </div>
              <div class="clearfix"></div>
    
            <div class="form-group col-sm-12">
                <label class="control-label" id="fname">Product Class</label>
                <select class="form-control">
                    <option></option>
                    <option></option>
                    <option></option>
                    <option></option>
                  </select>
              </div>
              <div class="clearfix"></div>
              <div class="form-group col-sm-12">
                  <label class="control-label" id="fname">Tenor</label>
                     <input type="text" class="form-control" id="fname" placeholder="">
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-sm-12">
                    <label class="control-label" id="fname">Effective Date</label>
                       <input type="date" class="form-control" id="fname" placeholder="">
                  </div>
                  <div class="form-group col-sm-12">
                      <label class="control-label" id="fname">Trader</label>
                      <select class="form-control">
                          <option></option>
                          <option></option>
                          <option></option>
                          <option></option>
                        </select>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="control-label" id="fname">Firm Account</label>
                        <select class="form-control">
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                          </select>
                      </div>
                      <div class="form-group col-sm-12">
                          <label class="control-label" id="fname">Customer Account</label>
                          <select class="form-control">
                              <option></option>
                              <option></option>
                              <option></option>
                              <option></option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label" id="fname">Broker Account</label>
                            <select class="form-control">
                                <option></option>
                                <option></option>
                                <option></option>
                                <option></option>
                              </select>
                          </div>
                          <div class="form-group col-sm-12">
                              <label class="control-label" id="fname">Legal Entity</label>
                              <select class="form-control">
                                  <option></option>
                                  <option></option>
                                  <option></option>
                                  <option></option>
                                </select>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="control-label" id="fname">External System</label>
                                <select class="form-control">
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                  </select>
                              </div>
                              <div class="form-group col-sm-12">
                                  <label class="control-label" id="fname">External Ref</label>
                                  <select class="form-control">
                                      <option></option>
                                      <option></option>
                                      <option></option>
                                      <option></option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label" id="fname">Sub Type</label>
                                    <select class="form-control">
                                        <option></option>
                                        <option></option>
                                        <option></option>
                                        <option></option>
                                      </select>
                               </div>
                               <div class="clearfix"></div>
                </div>
               
             <!--  <hr style="width: 1px; height: 100px; background: black; border: none;" /> -->
             <div class="form-group col-sm-6">
            
             <div class="form-group col-sm-12">
                 <label class="control-label" id="fname">Location</label>
                 <select class="form-control">
                     <option></option>
                     <option></option>
                     <option></option>
                     <option></option>
                   </select>
               </div>
               <div class="clearfix"></div>
               <div class="form-group col-sm-12">
                  <label class="control-label" id="fname">Trade Date</label>
                     <input type="date" class="form-control" id="fname" placeholder="">
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-sm-12">
                    <label class="control-label" id="fname">Termination Date</label>
                       <input type="date" class="form-control" id="fname" placeholder="">
                  </div>
                  <div class="clearfix"></div>
                  <div class="form-group col-sm-12">
                      <label class="control-label" id="fname">Sales Person</label>
                      <select class="form-control">
                          <option></option>
                          <option></option>
                          <option></option>
                          <option></option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-sm-12">
                        <label class="control-label" id="fname">Trade Type</label>
                        <select class="form-control">
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                          </select>
                      </div>
                      <div class="clearfix"></div>
                      <div class="form-group col-sm-12">
                          <label class="control-label" id="fname">Risk Party A</label>
                          <select class="form-control">
                              <option></option>
                              <option></option>
                              <option></option>
                              <option></option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-sm-12">
                            <label class="control-label" id="fname">Long Name</label>
                               <input type="text" class="form-control" id="fname" placeholder="">
                          </div>
                          <div class="clearfix"></div>
                          <div class="form-group col-sm-12">
                              <label class="control-label" id="fname">Early Term Date</label>
                                 <input type="date" class="form-control" id="fname" placeholder="">
                            </div>
                            <div class="clearfix"></div>
                      <div class="form-group col-sm-12">
                          <label class="control-label" id="fname">Early Term Reason</label>
                          <select class="form-control">
                              <option></option>
                              <option></option>
                              <option></option>
                              <option></option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                      <div class="form-group col-sm-12">
                          <label class="control-label" id="fname">Mod Reason</label>
                          <select class="form-control">
                              <option></option>
                              <option></option>
                              <option></option>
                              <option></option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-sm-12">
                            <label for="exampleFormControlTextarea1">Comments</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>   
                     
      </div>
      <div class="clearfix"></div>
    
      
    
      <div>
          
            <div class="col-sm-2"></div>
              <div class="col-sm-12">
                  <div>
                    <br><br>
                    <nav class="navbar navbar-inverse">
                        <div class="container">
                          <div class="navbar-header">
                           </div>
                          <ul class="nav navbar-nav ul">
                                  <li >
                                      <a [routerLink]="['additionalfield']" routerLinkActive="active">Additional Fields</a>
                                   </li>
                                    <li >
                                        <a [routerLink]= "['fees']" routerLinkActive="active">Fees</a>
                                      </li>
                                      <li>
                                          <a [routerLink]="['./salescredit']" routerLinkActive="active">Sales Credit</a>
                                        </li>
                                        <li>
                                            <a [routerLink]="['./margin']" routerLinkActive="active">Margin</a>
                                      </li>
                                      <li>
                                          <a [routerLink]="['./assignment']" routerLinkActive="active">Assignment</a>
                                      </li>
                                      <li>
                                          <a [routerLink]="['./partialassignment']" routerLinkActive="active">Partial Assignment</a>
                                      </li>
                                  </ul>
                        </div>
                        </nav>
                        <br><br>
                      </div>
    
      <div>
          <router-outlet></router-outlet> 
        
      </div>
      </div>
     
      
    
      
   