.navbar{
    margin-left:-30px;
    border:none;
    border-radius:0px;
}
.vl {
    border-left: 2px solid grey;
    height: 450px;
    position: absolute;
    left: 46%;
    margin-left: 0px;
    margin-top:10px;
  }
  input{
    margin-top: 12px;
  }
  select{
    margin-top :15px;
  }
  .borderclass{
    border: 2px solid gray;height:550px;margin:5px 12px 5px 12px;border-radius:3px;
  }