<div class="col-sm-4 text-center">
  <div class="col-sm-6"></div>
    <div class="form-group col-sm-6">
        <select class="form-control">
          <option></option>
          <option></option>
          <option></option>
          <option></option>
        </select>
      </div>
</div>
<div class="col-sm-4 text-center">
    <div class="col-sm-12"><br>
      <label class="label-control">Amort Type</label>
  </div>
  </div>
  <div class="col-sm-4 text-center">
      <div class="form-group col-sm-6">
          <select class="form-control">
            <option></option>
            <option></option>
            <option></option>
            <option></option>
          </select>
        </div>
      
     
    </div>
