<div class="container">
  <div class="row">

    <div class="col-lg-6">


      <div class="row">
        <div class="col-lg-6">
          <label>Sub Product</label>
          <select name="cmbSubProductCaps" class="form-control">
            <option></option>
          </select>
        </div>

        <div class="col-lg-6">
          <label>Currency</label>
          <select name="cmbCurrencyCaps" class="form-control">
            <option></option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <label>National</label>
      <input type="text" name="txtNotionalCaps" class="form-control">
    </div>
    <!--Row 1 Ending-->
  </div>

  <div class="row">

    <div class="col-lg-6">
      <label>Day Count</label>
      <select name="cmbDayCountCaps" class="form-control">
        <option></option>
      </select>
    </div>

    <div class="col-lg-6">
        <label>Amort Type</label>
        <select name="cmbAmortTypeCaps" class="form-control">
          <option></option>
        </select>
      </div>
  <!--Row 2 Ending-->
  </div>

  <div class="row">

      <div class="col-lg-6">
        <label>Accural Freq</label>
        <select name="cmbAccrualFreqCaps" class="form-control">
          <option></option>
        </select>
      </div>
  
      <div class="col-lg-6">
          <label>Reset Freq</label>
          <select name="cmbResetFreqCaps" class="form-control">
            <option></option>
          </select>
        </div>
    <!--Row 3 Ending-->
    </div>

    <div class="row">

        <div class="col-lg-6">
          <label>Cap Floor Type</label>
          <select name="cmbCapFloorTypeCaps" class="form-control">
            <option></option>
          </select>
        </div>
    
        <div class="col-lg-6">
            <label>Strike</label>
            <input type="text" name="txtStrikeCaps" class="form-control">
          </div>
      <!--Row 4 Ending-->
      </div>

      <div class="row">

          <div class="col-lg-6">
            <label>Discount Curve</label>
            <select name="cmbDiscountCurveCaps" class="form-control">
              <option></option>
            </select>
          </div>
      
          <div class="col-lg-6">
              <label>Market Index</label>
              <select name="cmbMarketIndexCaps" class="form-control">
              <option></option>
            </select>
            </div>
        <!--Row 5 Ending-->
        </div>
  <div class="row">
    <div class="col-lg-6">
      <button class="btn btn-success" style="margin-top: 20px;">clear</button>
    </div>
    <div class="col-lg-6">
        <button class="btn btn-success" style="margin-top: 20px;">search</button>
      </div>
  </div>
</div>