.navbar{
    margin-left:-30px;
    border:none;
    border-radius:0px;
}
.navbar-nav li{padding-left:10px}
li input{width:150px}
li select{width:150px}
.form-control{ border-radius:0px;size: 0px}
.dropdown-submenu {
    position: relative;
  }
   .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }
  .content{margin-top:10px;margin-left: 20px}
  /* .navbar-nav > li > a:hover,.navbar-nav > li > a:focus,.navbar-nav > li >a:enabled{
    background-color: white;
    color: #000;
  } */
 /*  .active, .btn:hover {
    background-color: #666;
    color: white;
    } */
    