<div>
    <div class="col-sm-4">
           <div class="clearfix"></div>
           <div class="form-group col-sm-6">
              <input type="date" class="form-control" id="fname" placeholder="">
       </div>
      
           <div class="form-group col-sm-6">
                 <input type="text" class="form-control" id="fname" placeholder="">
          </div>
         
          <div class="clearfix"></div>
          <div class="form-group col-sm-3">
              <input type="date" class="form-control" id="fname" placeholder="">
       </div>
          <div class="form-group col-sm-6">
             <select class="form-control">
               <option></option>
               <option></option>
               <option></option>
               <option></option>
             </select>
           </div>
           <div class="form-group col-sm-3">
              <input type="text" class="form-control" id="fname" placeholder="">
       </div>
        <div class="clearfix"></div>
        <div class="form-group col-sm-4">
            <select class="form-control">
              <option></option>
              <option></option>
              <option></option>
              <option></option>
            </select>
          </div>
          <div class="form-group col-sm-4">
              <select class="form-control">
                <option></option>
                <option></option>
                <option></option>
                <option></option>
              </select>
            </div>
            <div class="form-group col-sm-4">
               <input type="text" class="form-control" id="fname" placeholder="">
        </div>
     <div class="clearfix"></div>
     <div class="form-group col-sm-4">
        <select class="form-control">
          <option></option>
          <option></option>
          <option></option>
          <option></option>
        </select>
      </div>
      <div class="form-group col-sm-4">
          <select class="form-control">
            <option></option>
            <option></option>
            <option></option>
            <option></option>
          </select>
        </div>
        <div class="form-group col-sm-4">
            <select class="form-control">
              <option></option>
              <option></option>
              <option></option>
              <option></option>
            </select>
          </div>
          <div class="clearfix"></div>
          <div class="form-group col-sm-4">
             <select class="form-control">
               <option></option>
               <option></option>
               <option></option>
               <option></option>
             </select>
           </div>
           <div class="form-group col-sm-4">
               <select class="form-control">
                 <option></option>
                 <option></option>
                 <option></option>
                 <option></option>
               </select>
             </div>
             <div class="form-group col-sm-4">
                 <select class="form-control">
                   <option></option>
                   <option></option>
                   <option></option>
                   <option></option>
                 </select>
               </div>
               <div class="clearfix"></div>
               <div class="col-sm-4"></div>
               <div class="form-group col-sm-8">
                  <select class="form-control">
                    <option></option>
                    <option></option>
                    <option></option>
                    <option></option>
                  </select>
                </div>
                
    </div>
    <div class="col-sm-4 text-center">
        <div class="col-sm-12"></div>
        <div class="col-sm-12"></div>
        <div class="col-sm-12"><br>
            <label class="label-control">QuoteCalendars/Lag</label>
        </div><br><br><br><br>
        <div class="col-sm-12">
           <label class="label-control">InitialQuoteCalendars/Date/Lag</label>
       </div><br><br><br>
       <div class="col-sm-12">
           <label class="label-control">ResetAveraging/Convention/RateCutOff</label>
       </div><br><br><br>
       <div class="col-sm-12">
           <label class="label-control">ResetBusDay/Freq/Marching</label>
       </div><br><br><br>
       <div class="col-sm-12">
           <label class="label-control">ResetRollDay/RollWeek/Type</label>
       </div><br><br><br>
       <div class="col-sm-12">
          <label class="label-control">Market Index</label>
      </div><br><br><br>
    
    </div>
    <div class="col-sm-4">
        <div class="clearfix"></div>
        <div class="form-group col-sm-6">
           <input type="date" class="form-control" id="fname" placeholder="">
    </div>
   
        <div class="form-group col-sm-6">
              <input type="text" class="form-control" id="fname" placeholder="">
       </div>
      
       <div class="clearfix"></div>
       <div class="form-group col-sm-3">
           <input type="date" class="form-control" id="fname" placeholder="">
    </div>
       <div class="form-group col-sm-6">
          <select class="form-control">
            <option></option>
            <option></option>
            <option></option>
            <option></option>
          </select>
        </div>
        <div class="form-group col-sm-3">
           <input type="text" class="form-control" id="fname" placeholder="">
    </div>
     <div class="clearfix"></div>
     <div class="form-group col-sm-4">
         <select class="form-control">
           <option></option>
           <option></option>
           <option></option>
           <option></option>
         </select>
       </div>
       <div class="form-group col-sm-4">
           <select class="form-control">
             <option></option>
             <option></option>
             <option></option>
             <option></option>
           </select>
         </div>
         <div class="form-group col-sm-4">
            <input type="text" class="form-control" id="fname" placeholder="">
     </div>
  <div class="clearfix"></div>
  <div class="form-group col-sm-4">
     <select class="form-control">
       <option></option>
       <option></option>
       <option></option>
       <option></option>
     </select>
   </div>
   <div class="form-group col-sm-4">
       <select class="form-control">
         <option></option>
         <option></option>
         <option></option>
         <option></option>
       </select>
     </div>
     <div class="form-group col-sm-4">
         <select class="form-control">
           <option></option>
           <option></option>
           <option></option>
           <option></option>
         </select>
       </div>
       <div class="clearfix"></div>
       <div class="form-group col-sm-4">
          <select class="form-control">
            <option></option>
            <option></option>
            <option></option>
            <option></option>
          </select>
        </div>
        <div class="form-group col-sm-4">
            <select class="form-control">
              <option></option>
              <option></option>
              <option></option>
              <option></option>
            </select>
          </div>
          <div class="form-group col-sm-4">
              <select class="form-control">
                <option></option>
                <option></option>
                <option></option>
                <option></option>
              </select>
            </div>
            <div class="clearfix"></div>
            
            <div class="form-group col-sm-8">
               <select class="form-control">
                 <option></option>
                 <option></option>
                 <option></option>
                 <option></option>
               </select>
             </div>
             <div class="col-sm-4"></div>
    
    </div>
    