<div class="col-sm-2">
  <div class="left-nav sidebar">
    <ul>
      <li>
        <button class="btn btn-default" routerLink="/swapticket" routerLinkActive="active">Swap Ticket</button>
      </li>
      <li>
        <button  class="btn btn-default" routerLink="/swapoption" routerLinkActive="active">Swap Option</button>
      </li>
      <li>
        <button  class="btn btn-default" routerLink="/cap" routerLinkActive="active">Cap Floor</button>
      </li>
      <li>
        <button  class="btn btn-default" routerLink="/ffra" routerLinkActive="active">Fra</button>
      </li>
      <li>
        <button  class="btn btn-default" routerLink="/so-quickticket" routerLinkActive="active">Bond</button>
      </li>
    </ul>
  </div>
</div>