.navbar{
    margin-left:-30px;
    border:none;
    border-radius:0px;
}
.navbar-nav li{padding-left:10px}
.form-control{ border-radius:0px;size: 0px}
.table {padding-left: 0px;
        padding-top: 0px;
        margin-left:0px;
        margin-top:0px;
}
.btn{
    margin-left:30px;
    }
    .content{margin-top:10px;margin-left: 20px}