<div class="row content-section">
  <div class="col-sm-2">
    <div class="left-nav sidebar"><br>
      <ul>
        <li>
          <a routerLink="/so-tradebasic" routerLinkActive="active">Trade Basic </a>
        </li>
        <li>
          <a routerLink="/swapoption" routerLinkActive="active">Swap Option</a>
        </li>
        <li>
          <a routerLink="/so-quickticket" routerLinkActive="active">Quick Ticket</a>

        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-10">
    <div>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Actions <span
                  class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">New</a></li>
                <li><a href="#">Save As</a></li>
                <li><a href="#">Save</a></li>
                <li><a href="#">Delte</a></li>
                <li><a href="#">Reload</a></li>
                <li><a href="#">Approve</a></li>
                <li><a href="#">Exit</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Business Events <span
                  class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Bought Back</a></li>
                <li><a href="#">Partial Bought Back</a></li>
                <li><a href="#">MO Maintenance</a></li>
                <li><a href="#">Migration</a></li>
                <li><a href="#">Assignment</a></li>
                <li><a href="#">Partial Assignment</a></li>
                <li><a href="#">Allocation</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Flow <span
                  class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Push To MO</a></li>
                <li><a href="#">Push To FO</a></li>
                <li><a href="#">Push To BU</a></li>
                <li><a href="#">Withdraw</a></li>
                <li><a href="#">Email</a></li>

              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Analytics<span
                  class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Calculate PV F2</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle dropright" data-toggle="dropdown"> Calculate Risk <span
                      class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>

                <li><a href="#">Calculate PAA F10</a></li>
                <li><a href="#">Calculate Report F3</a></li>

              </ul>
            </li>
            <li class="content">
              Market
            </li>
            <li>
              <select class="form-control">
                <option>Live</option>
                <option>EndOfDay</option>
                <option>Historic</option>
              </select>

            </li>
            <li class="content">
              Close Date
            </li>
            <li>
              <input type="date" class="form-control">
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="clearfix"></div>
    <div class="col-sm-10 text-center">
      <div class="form-group col-sm-2"> <br>
        <label class="control-label" for="dob">Position Pay/Rec</label>
      </div>
      <div class="form-group col-sm-4">
        <select class="form-control">
          <option>{{ model.cmbQPaySide }}</option>
          <option></option>
          <option></option>
          <option></option>
        </select>
      </div>
      <div class="form-group col-sm-4">
        <select class="form-control">
          <option>{{ model.cmbQRecSide  }}</option>
          <option></option>
          <option></option>
          <option></option>
        </select>
      </div>
    </div>
    <div class="col-sm-10 text-center">
      <div class="form-group col-sm-2"> <br>
        <label class="control-label" for="dob">Currency/Notional</label>
      </div>
      <div class="form-group col-sm-4">
        <select class="form-control">
          <option>{{ model.cmbQCurrency }}</option>
          <option></option>
          <option></option>
          <option></option>
        </select>
      </div>
      <div class="form-group col-sm-4">
        <input type="date" class="form-control" id="dob">
      </div>
    </div>
    <div class="col-sm-10 text-center">
      <div class="form-group col-sm-2"> <br>
        <label class="control-label" for="dob">Tenor</label>
      </div>
      <div class="form-group col-sm-4">
        <input type="text" class="form-control" id="dob" value={{model.txtQTenor}}>
      </div>
    </div>
    <div class="col-sm-10 text-center">
      <div class="form-group col-sm-2"> <br>
        <label class="control-label" for="dob">StartDate/EndDate</label>
      </div>
      <div class="form-group col-sm-4">
        <input type="date" class="form-control" id="dob">
      </div>
      <div class="form-group col-sm-4">
        <input type="date" class="form-control" id="dob">
      </div>
    </div>
  </div>
</div>