<div class="container">
  <div class="row">

    <div class="col-lg-2">
      <label>SubProduct</label>
      <select name="cmbSubProductOption" class="form-control">
        <option></option>
      </select>
    </div>
    <div class="col-lg-2">
      <label>Option Type</label>
      <select name="cmbOptionType" class="form-control">
        <option></option>
      </select>
    </div>
    <div class="col-lg-2">
      <label>Option Style</label>
      <select name="cmbOptionStyle" class="form-control">
        <option></option>
      </select>
    </div>
    <div class="col-lg-2">
      <label>Expiry Date</label>
      <input type="date" name="txtExpiryDate" class="form-control">
    </div>
    <div class="col-lg-2">
      <label>Strike</label>
      <input type="text" name="txtStrike" class="form-control">
    </div>
    <!--Row 1 Ending-->
  </div>

  <div class="row">
    <div class="col-lg-12">
      <label style="border-right: 2px solid black; padding-left: 46%">Pay&nbsp;</label><label>&nbsp;Rec</label>
    </div>
    <!--Row 2 Ending-->
  </div>

  <div class="row">
    <div class="col-lg-2">
      <select name="cmbPayCurrencyOption" class="form-control">
        <option></option>
      </select>
    </div>

    <div class="col-lg-2">
      <select name="cmbPayLegTypeOption" class="form-control">
        <option></option>
      </select>
    </div>
    <div class="col-lg-3">
      <label style="padding-left: 30%">Currency/Leg Type</label>
    </div>
    <div class="col-lg-2">
      <select name="cmbRecCurrencyOption" class="form-control">
        <option></option>
      </select>
    </div>
    <div class="col-lg-2">
      <select name="cmbRecLegTypeOption" class="form-control">
        <option></option>
      </select>
    </div>
    <!--Row 3 Ending-->
  </div>

  <div class="row">
    <div class="col-lg-2">
      <input type="text" name="txtNotionalOption" class="form-control">
    </div>

    <div class="col-lg-2">
      <select name="cmbPayAccrualFreqOption" class="form-control">
        <option></option>
      </select>
    </div>

    <div class="col-lg-3">
      <label style="padding-left: 30%">National/AccrualFreq</label>
    </div>

    <div class="col-lg-2">
      <input type="text" name="txtRecNotionalOptionPanel" class="form-control">
    </div>

    <div class="col-lg-2">
      <select name="cmbRecAccrualFreqOption" class="form-control">
        <option></option>
      </select>
    </div>
    <!--Row 4 Ending-->
  </div>

  <div class="row">
    <div class="col-lg-2">
      <select name="cmbPayPayFreqOption" class="form-control">
        <option></option>
      </select>
    </div>

    <div class="col-lg-2">
      <select name="cmbPayResetFreqOption" class="form-control">
        <option></option>
      </select>
    </div>
    <div class="col-lg-3">
      <label style="padding-left: 30%">Pay Freq/ResetFreq</label>
    </div>
    <div class="col-lg-2">
      <select name="cmbRecPayFreqOption" class="form-control">
        <option></option>
      </select>
    </div>
    <div class="col-lg-2">
      <select name="cmbRecResetFreqOption" class="form-control">
        <option></option>
      </select>
    </div>
    <!--Row 5 Ending-->
  </div>

  <div class="row">

    <div class="col-lg-4">
      <select name="cmbPayAmortTypeOption" class="form-control">
        <option></option>
      </select>
    </div>

    <div class="col-lg-3">
      <label style="padding-left: 30%">Amort Type</label>
    </div>

    <div class="col-lg-4">
      <select name="cmbRecAmortTypeOption" class="form-control">
        <option></option>
      </select>
    </div>
    <!--Row 6 Ending-->
  </div>

  <div class="row">
    <div class="col-lg-2">
      <select name="cmbPayPayFreqOption" class="form-control">
        <option></option>
      </select>
    </div>

    <div class="col-lg-2"> 
      <select name="cmbPayResetFreqOption" class="form-control">
        <option></option>
      </select>
    </div>
    <div class="col-lg-3">
      <label style="padding-left: 30%">Compounding/Discount Curve</label>
    </div>
    <div class="col-lg-2">
      <select name="cmbRecPayFreqOption" class="form-control">
        <option></option>
      </select>
    </div>
    <div class="col-lg-2">
      <select name="cmbRecResetFreqOption" class="form-control">
        <option></option>
      </select>
    </div>
    <!--Row 7 Ending-->
  </div>

  <div class="row">
      <div class="col-lg-2">
        <input type="text" name="txtPayFixedQuoteOption" class="form-control">
         
      </div>
  
      <div class="col-lg-2">
        <select name="cmbPayDayCountOption" class="form-control">
          <option></option>
        </select>
      </div>
      <div class="col-lg-3">
        <label style="padding-left: 30%">Fixed Quote/Day Count</label>
      </div>
      <div class="col-lg-2">
        <input type="text" name="txtRecFixedQuoteOption" class="form-control">
      </div>
      <div class="col-lg-2">
        <select name="cmbRecDayCountOption" class="form-control">
          <option></option>
        </select>
      </div>
      <!--Row 8 Ending-->
    </div>

    <div class="row">
           
        <div class="col-lg-4">
          <select name="cmbPayMarketIndexOption" class="form-control">
            <option></option>
          </select>
        </div>
        <div class="col-lg-3">
          <label style="padding-left: 30%">Market Index</label>
        </div>
        <div class="col-lg-4">
          <input type="text" name="cmbRecMarketIndexOption" class="form-control">
        </div>
        <!--Row 9 Ending-->
      </div>
      <div class="row">
        <div class="col-lg-6">
          <button class="btn btn-success"  style="margin-top: 20px;">Clear</button>
        </div>

        
        <div class="col-lg-4" style="margin-left: 100px;">
            <button class="btn btn-success"  style="margin-top: 20px;">Search</button>
          </div>

          <!--Row 10 Ending-->
      </div>
  <!--Container Ending-->
</div>