.bg-color-name{
  background-color:slategrey;height: 30px;
}

.container-bg{
   
  background-color: lightgrey;    
    height: 510px; 
    border-radius:5px; 
  
 }

 .firstHeaderDiv{
    background-color: rgb(114, 114, 190);
    width:1093px;
    height: 20px;
}
.textmain1{
    padding-left: 200px;
    padding-bottom: -20px
  }

  .table-bordered {
    border: 2px solid #fff !important;
}

th, td {
    
    text-align: center;
  }

  .tableHeading{
    border: 1px solid black;
  }

  /* .firstDiv{
      margin-left:210 px;
  } */

  .hrBorder{
      border: 1px solid  red;
      margin-top: -10px;
  }
 
  .material-iconsA{
    color:white;
    margin-left:6px;
    margin-top: 2px;
  }

  .pag-text-align{
    padding-left:10px;
    font-weight:550;
    padding-top:3px;
    font-size:17px;
    color:white;
    margin-left:-141px;
}

mat-icon{
  margin-left:456px;
  color: white;
}

.mat-icon {cursor: pointer;}
  
.mat-icon:hover,.mat-icon:active {
  color: black;   
}

.swapHeadingAlign{
  margin-left:400px;
  font-weight:600;
}

.col-sm-offset-4{
  margin-bottom:11px;
}