.navbar{
    border:none;
    margin:-12px 12px 0px -15px;
    padding: 0px 0px 10px 5px
  }
 
.left-nav{height: 320vh;}
  
.content{margin-top:10px;font-weight: none}
  
.navbar.mynavhead{
  margin:0px;
  padding: 10px 0px 10px 5px
}
.borderclass{
	border: 3px solid whitesmoke;height:1180px;margin:5px 12px 5px -12px;
} 

.mynavbar{
	margin-left:-100px;
}
.mynavbar li{
	display:inline-block;padding-left: 10px
}
.labelset{
  padding-top:160px
}
.mylabel{
  padding-top:45px
}
input{
	background-color:#fff;
		margin-top: 10px;
		width:80%;
		height: 28px;
		font-size:12px;
		font-weight:bold;
		box-shadow: 2px 3px #505255;
}
select
	{   
		background-color:#a5a6a8;
		margin-top: 10px;
		width:80%;
		border-radius:0px;
		height: 28px;
		font-size:12px;
		font-weight:bold;
	  box-shadow: 2px 3px #505255;
	}
	input.form-control
{
	background-color:#fff;
		width:100%;
		height: 28px;
		border-radius: 0px;
		font-size:12px;
		font-weight:bold;
	  box-shadow: 2px 3px #505255;
}
select.form-control
	{   
		background-color:#a5a6a8;
		width:100%;
		height: 28px;
		font-size:12px;
		font-weight:bold;
		border-radius: 0px;
		box-shadow: 2px 3px #505255;
	}
  
  
  