.navbar{
    margin-left:-30px;
    border:none;
    border-radius:0px;
}
.navbar-nav li{padding-left:20px}
.form-control{ border-radius:0px;size: 0px}
.dropdown-submenu {
position: relative;
    
  }