<div class="row content-section">
                <div class="borderclass">
                <div class="col-sm-2" style="margin-top: 10px">
                        <div><label>Login Name</label> </div>
                        <div><label>First Name</label></div>
                        <div><label>Business</label></div>
                        <div><label>Last Modified</label></div>
                </div>
                <div class="col-sm-2">
                        <div name="Login Name">
                                <select class="form-control">
                                        <option>{{model.txtLoginName}}</option>
                                </select>
                        </div>
                        <div><input type="text" class="form-control" name="FirstName" value={{model.txtFirstName}}></div>
                        <div  name="Business">
                                <select class="form-control">
                                        <option>{{model.Business}}</option>
                                </select>
                        </div>
                        <div> <input type="date" class="form-control"></div>
                                <!-- <input type="text" class="form-control" name="Last Modified" value={{model.txtLastModified}}> -->
                       
                </div>
        
                <div class="col-sm-2" style="margin-top: 10px">
                      
                        <div><label>Last Name</label> </div>
                        <div><label>Department</label></div>
                        <div><label>Last VerifiedBy</label></div>
                </div>
                <div class="col-sm-2">
                      
                        <div><input type="text" name="Last Name" class="form-control" value={{model.txtLastName}}></div>
                        <div input name="Department">
                                <select class="form-control">
                                        <option *ngFor="let Department of model.Department">{{Department}}</option>
                                </select>
                        </div>
                        <div><input type="text" name="Last VerifiedBy" class="form-control" value={{model.txtLastVerifiedBy}}></div>
        
                </div>
                <div class="col-sm-2" style="margin-top: 10px">
                       
                        <div><label>Role</label> </div>
                        <div><label>Last ModifiedBy</label></div>
                        <div><label>Last Verified</label></div>
                </div>
                <div class="col-sm-2">
                       
                        <div input name="Role"> 
                                <select class="form-control">
                                        <option>{{model.Role}}</option>
                                </select></div>
                        <div><input type="text" name="Last ModifiedBy" class="form-control" value={{model.txtLastModifiedBy}}></div>
                        
                        <div><input type="date" class="form-control"></div>
                                <!-- <input type="text" name="Last Verified" class="form-control" value={{model.txtLastVerified}}> -->
                </div>
        
                <div class="clearfix"></div>
                <div class="row" style="margin-top: 10px">
                                <div class="col-sm-2"><label style="margin: 10px">Current Access</label></div>
   <div class="check1 col-sm-10">

   </div>
   <div class="clearfix"></div>
   
   <div class="row"></div>
  <div class="row">
  <div class="col-sm-2"><button class="btn btn-primary" style="margin: 50px">Add</button></div>
  <div class="check2 col-sm-10" style="margin-left:10px;margin-top:20px">
  
</div>
</div>



<router-outlet></router-outlet>