
<div class="form-group ">
  <br>
    <div class="row">
        <div class="row">
       <div [ngClass]="['form-group']" >
          
          <label class="control-label col-sm-3 contorl-align-label contorl-align-text">GearFactor/Spread</label>
            <div class="col-sm-5">
        <div class="col-sm-4"> 
          <input class="form-control" type="text" value={{model.txtGearFactor}} [ngStyle]="{'margin-left.px':'-16'}">
        </div>
        <div class="col-sm-5">
            <input type="text" value={{model.txtSpread}} class="form-control"/>
        </div>
        </div>
       </div>
      </div>

      <div class="row">
          <div [ngClass]="['form-group']" >
             
             <label class="control-label col-sm-3 contorl-align-label contorl-align-text " >QuoteCalendars/Lag
               </label>
               
           <div class="col-sm-8">
             <div class="form-inline">
               
             <select class="form-control col-sm-3" [ngStyle]="{'width.px':'163'}">
                 <option>{{model.cntQuoteCalenders}}</option>
                 <option></option>
               </select>
              
             <input type="text" value={{model.txtQuoteLag}} class="form-control  col-sm-3"
              [ngStyle]="{'margin-left.px':'16'}">
           </div>
           </div>
          </div>
         </div>


         <div class="row">
           
            <div [ngClass]="['form-group']">
               
               <label class="control-label col-sm-3 contorl-align-label">InitialQuoteCalendars/Date/Lag </label>
                 
               <div class="col-sm-5"> 
                  <div class="col-sm-3">
                      <select class="form-control" [ngStyle]="{'margin-left.px':'-16'}">
                          <option>{{model.cntInitialQuoteCalenders}}</option>
                          </select>
  
                 </div>
                 <div class="col-sm-5" >
                    <input type="date" value={{model.txtInitialQuoteDate}} class="form-control" [ngStyle]="{'margin-left.px':'-16'}" >
                    
               </div>        
               <div class="col-sm-3">
                  <input type="text" value={{model.txtInitialQuoteLag}} class="form-control" [ngStyle]="{'margin-left.px':'-10'}" >
               </div>
              </div>
              </div>
              </div>


              <div class="row">
                
                  <div [ngClass]="['form-group']">
                     
                     <label class="control-label col-sm-3 contorl-align-label">ResetAveraging/Convention/Freq</label>
                       
                     <div class="col-sm-5"> 
                        <div class="col-sm-3">
                            <select class="form-control" [ngStyle]="{'margin-left.px':'-16'}">
                                <option>{{model.cmbResetAveraging}}</option>
                                </select>
        
                       </div>
                       <div class="col-sm-5" >
                          <select class="form-control" [ngStyle]="{'margin-left.px':'-16'}">
                              <option>{{model.cmbResetConvention}}</option>
                              </select>
                          
                     </div>        
                     <div class="col-sm-4">
                        <select class="form-control" [ngStyle]="{'margin-left.px':'-12'}">
                            <option>{{model.cmbResetFreq}}</option>
                            </select>
                     </div>
                    </div>
                    </div>
                    </div>
                    


       <div class="row">
          <div [ngClass]="['form-group']" >
            
             <label class="control-label col-sm-3 contorl-align-label contorl-align-text " >
                Reset Type/ScheduleCustomFlag</label>
               
           <div class="col-sm-8">
             <div class="form-inline">
               
             <select class="form-control col-sm-3" [ngStyle]="{'width.px':'163'}">
                 <option>{{model.cmbResetType}}</option>
                 <option></option>
               </select>
              
               <select class="form-control col-sm-3" [ngStyle]="{'margin-left.px':'16'}">
                  <option>{{model.cmbScheduleCustomFlag}}</option>
                  <option></option>
                </select>
           </div>
           </div>
          </div>
         </div>
  

         <div class="row">
            <div [ngClass]="['form-group']" >
              
               <label class="control-label col-sm-3 contorl-align-label contorl-align-text " >
                  Strike/VolId </label>
                 
             <div class="col-sm-8">
               <div class="form-inline">
                 
                  <input type="text" value={{model.txtStrike}} class="form-control" >
                <input type="text" value={{model.txtValid}} class="form-control" [ngStyle]="{'margin-left.px':'16'}" >
             </div>
             </div>
            </div>
           </div>
    

      

           <div class="row">
              <div [ngClass]="['form-group']" >
                 
                 <label class="control-label col-sm-3 contorl-align-label contorl-align-text " >
                   PricingMethod</label>
                   
               <div class="col-sm-3">
                  
                  <input class="form-control" value={{model.txtPricingMethod}}>
                  
            
               </div>
              </div>
             </div>



             
           <div class="row">
              <div [ngClass]="['form-group']" >
                
                 <label class="control-label col-sm-3 contorl-align-label contorl-align-text " >
                    MarketIndex</label>
                   
               <div class="col-sm-3">
                  
                  <select class="form-control">
                      <option>{{model.cmbMarketIndex}}</option>
                      <option></option>
                    </select>
                  
            
               </div>
              </div>
             </div>

  <br>
             <h1 class="header">Schedule</h1>
             <div class="row">
               
                <br><br>
               <div [ngClass]="['form-group']" >
                 
                  <label class="control-label col-sm-3 contorl-align-label contorl-align-text">PV/Currency</label>
                    <div class="col-sm-5">
                <div class="col-sm-7"> 
                  <input class="form-control" type="text"  value={{model.txtPV}} [ngStyle]="{'margin-left.px':'-16'}">
                </div>
                <div class="col-sm-3">
                    <select class="form-control col-sm-4" [ngStyle]="{'margin-left.px':'-19'}">
                      <option>{{model.cmbPVCurrency}}</option>
                    </select>
                </div>
              </div>
                  </div>
                  </div>
      
      
              <div class="row">
                  
                 <div [ngClass]="['form-group']" >
                    <br>
                    <label class="control-label col-sm-3 contorl-align-label contorl-align-text">Parallel Delta/Curve</label>
                      <div class="col-sm-5">
                  <div class="col-sm-5"> 
                    <input class="form-control" type="text" value={{model.txtRecParallelDelta}} [ngStyle]="{'margin-left.px':'-16'}">
                  </div>
                  <div class="col-sm-4">
                      <select class="form-control " [ngStyle]="{'margin-left.px':'-19'}" >
                        <option>{{model.cmbCurvePnl}}</option>
                      </select>
                  </div>
                  </div>
                 
                </div>


              




  <!-- <div class="form-group col-sm-8">
    <div class="form-group col-sm-12">
      <label class="control-label">GearFactor/Spread</label>
    </div>
  </div>
  <div class="form-group col-sm-6">

    <div class="form-group col-sm-5">
      <input type="text" value={{model.txtGearFactor}} class="form-control"/>
    </div>
    <div class="form-group col-sm-5">
      <input type="text" value={{model.txtSpread}} class="form-control"/>
    </div>
    <div class="clearfix"></div>
  </div>


  <div class="form-group col-sm-6">
      
      <div class="form-group col-sm-12">
        
        <label class="control-label">QuoteCalendars/Lag</label>
      </div>
    </div>
    <div class="form-group col-sm-6">
     <div class="form-group col-sm-7">
        <select class="form-control">
          <option>{{model.cntQuoteCalenders}}</option>
          <option></option>
          <option></option>
          <option></option>
          <option></option>
          <option></option>

        </select>
     </div>
     <div class="form-group col-sm-5">
       <input type="text" value={{model.txtQuoteLag}} class="form-control"/>
     </div>

    </div>
 

    
      <div class="form-group col-sm-6">
                       <div class="form-group col-sm-12">
             <label class="control-label">InitialQuoteCalendars/Date/Lag</label>
           </div>
         </div>
         <div class="form-group col-sm-6">
           <div class="form-group col-sm-6">
            <select class="form-control">
              <option></option>
              <option></option>
              <option></option>
              <option></option>
            </select>
           </div>
           <div class="form-group col-sm-4">
             <input type="date" value={{model.txtInitialQuoteDate}} class="form-control">
           </div>
           <div class="form-group col-sm-2">
              <input type="text" value={{model.txtInitialQuoteLag}} class="form-control">
            </div>
           <div class="clearfix"></div>
         </div>

         <div class="form-group col-sm-6">
            <div class="form-group col-sm-12">
  <label class="control-label">ResetAveraging/Convention/Freq</label>
</div>
</div>
<div class="form-group col-sm-6">
<div class="form-group col-sm-4">
 <select class="form-control">
   <option>NONE</option>
   <option>WEIGHTED_BUS</option>
   <option>WEIGHTED_CAL</option>
   <option>UNWEIGHTED</option> 
   <option></option>
   </select>
  
</div>
<div class="form-group col-sm-4">
  <select  class="form-control">
    <option>IN_ADVANCE</option>
    <option>IN_ARREARS</option>
    <option></option>
  </select>
</div>
 <div class="form-group col-sm-4">
    <select class="form-control">
        <option>SemiAnnual</option>
        <option>Annual</option>
        <option>Once</option>
        <option>FourthMonthly</option>
        <option>Quarterly</option>
        <option>Bimonthly</option>
        <option>Monthly</option>
        <option>Biweekly</option>
        <option>Weekly</option>
        <option>Daily</option> 
<option></option>

      </select>
 </div>
<div class="clearfix"></div>
</div>


<div class="form-group col-sm-6">
  <div class="form-group col-sm-12">
<label class="control-label">Reset Type/ScheduleCustomFlag</label>
</div>
</div>
<div class="form-group col-sm-6">
<div class="form-group col-sm-4">
<select class="form-control">
 <option>AUTO</option>
<option>MANUAL</option> 
<option>{{model.cmbResetType}}</option>
</select>
</div>
<div class="form-group col-sm-2">
<select  class="form-control">
 <option>0</option>
<option>1</option> 
<option>{{model.cmbScheduleCustomFlag}}</option>
</select>
</div>
<div class="clearfix"></div>
</div>
        

<div class="form-group col-sm-6">
  <div class="form-group col-sm-12">
<label class="control-label">Strike/VolId</label>
</div>
</div>
<div class="form-group col-sm-6">
<div class="form-group col-sm-3">
<input type="text" value={{model.txtStrike}} class="form-control" >
</div>
<div class="form-group col-sm-4">
<input type="text" value={{model.txtValid}} class="form-control" >
</div>
<div class="clearfix"></div>
</div>

  
<div class="form-group col-sm-6">
  <div class="form-group col-sm-12">
         <label class="control-label">PricingMethod</label>
  </div>

  <div class="form-group col-sm-5">
    <input type="text" value={{model.txtPricingMethod}} class="form-control"/>
  </div>
</div>


<div class="form-group col-sm-6">
    <div class="form-group col-sm-12">
           <label class="control-label">MarketIndex</label>
    </div>
    <div class="form-group col-sm-5">
      <select class="form-control">
        <option>{{model.cmbMarketIndex}}</option>
        <option></option>
      </select>
    </div> 
    </div>
-->





 






</div>



