<div class="clearfix"></div><br>

<div class="container">   
    <table class="table table-striped table-dark" tex border="2px">
        <thead >
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Status</th>
            <th scope="col">PayRef</th>
            <th scope="col">PaymentType</th>
            <th scope="col">PaymentDate</th>
            <th scope="col">Currency</th>
            <th scope="col">Amount</th>
            <th scope="col">ConversionIndex</th>
            <th scope="col">ConversionCurrency</th>
            <th scope="col">FirmAccount</th>
            <th scope="col">CustomerAccount</th>
            <th scope="col">ConversionLog</th>
            <th scope="col">PayReceive</th>
            <th scope="col">ThirdPartyType</th>
            <th scope="col">ThirdPartyName</th>
            <th scope="col">Comments</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
            <td>Active</td>
            <td>NA</td>
           
            <td><input type="date" class="form-control" id="fname" placeholder=""></td>
            <td> <select class="form-control">
              <option></option>
              <option></option>
              <option></option>
              <option></option>
            </select></td>
            <td> <select class="form-control">
                <option></option>
                <option></option>
                <option></option>
                <option></option>
              </select></td>
            <td>0.00</td>
            <td> <select class="form-control">
                <option></option>
                <option></option>
                <option></option>
                <option></option>
              </select></td>
            <td> <select class="form-control">
                <option></option>
                <option></option>
                <option></option>
                <option></option>
              </select></td>
            <td> <select class="form-control">
                <option></option>
                <option></option>
                <option></option>
                <option></option>
              </select></td>
            <td> <select class="form-control">
                <option></option>
                <option></option>
                <option></option>
                <option></option>
              </select></td>
            <td>-1</td>
            <td> <select class="form-control">
                <option></option>
                <option></option>
                <option></option>
                <option></option>
              </select></td>
           
            <td>NA</td>
            <td>HelloFees</td>

          </tr>
          
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-primary col-sm-1">Add</button>
    <button type="button" class="btn btn-danger col-sm-1">Delete</button>
    <button type="button" class="btn btn-success col-sm-1">Apply</button>