<div class="row content-section">
        <div class="col-sm-2"><br>
                <div><label>Login Name</label> </div><br><br>
                <div><label>First Name</label></div><br><br><br>
                <div><label>Business</label></div><br><br><br>
                <div><label>Last Modified</label></div><br><br><br><br>

        </div>
        <div class="col-sm-2">
                <div name="Login Name">
                        <select class="form-control">
                                <option>{{model.txtLoginName}}</option>
                        </select></div><br><br>
                <div><input type="text" class="form-control" name="FirstName" value={{model.txtFirstName}}></div><br><br>
                <div  name="Business"><select class="form-control">
                                <option>{{model.cmbBusiness}}</option>
                        </select></div><br><br>
                <div> <input type="date" class="form-control">    
                        <!-- <input type="text" class="form-control" name="Last Modified" value={{model.txtLastModified}}> --></div>
                <br><br><br>
        </div>

        <div class="col-sm-2">
                <br><br><br><br><br>
                <div><label>Last Name</label> </div><br><br><br>
                <div><label>Department</label></div><br><br>
                <div><label>Last VerifiedBy</label></div>
        </div>
        <div class="col-sm-2">
                <br><br><br><br>
                <div><input type="text" name="Last Name" class="form-control" value={{model.txtLastName}}></div><br><br>
                <div input name="Department"><select class="form-control">
                                <option selected *ngFor="let department of model.cmbDepartment">{{department}}</option>
                        </select></div><br><br>
                <div><input type="text" name="Last VerifiedBy" class="form-control" value={{model.txtLastVerifiedBy}}></div>

        </div>
        <div class="col-sm-2">
                <br><br><br><br><br>
                <div><label>Role</label> </div><br><br>
                <div><label>Last ModifiedBy</label></div><br><br><br>
                <div><label>Last Verified</label></div>
        </div>
        <div class="col-sm-2">
                <br><br><br><br>
                <div> <select class="form-control">
                                <option>{{model.cmbRole}}</option>
                        </select></div><br><br>
                <div><input type="text" name="Last ModifiedBy" class="form-control" value={{model.txtLastModifiedBy}}></div>
                <br><br>
                <div><input type="date" class="form-control">
                        <!-- <input type="text" name="Last Verified" class="form-control" value={{model.txtLastVerified}}> --></div>
        </div>

        <div class="clearfix"></div>
        <div class="col-sm-2"><br><br><label>Current Access</label></div>
        <div class="check1 col-sm-10">
                <input type="checkbox"> IRSWPAED<br>
                <input type="checkbox"> IRSWPALL<br>
                <input type="checkbox"> IRSWPATS<br>
                <input type="checkbox"> IRSWPAUD<br>
        </div>
        <div class="clearfix"></div>
        <br><br>
        <div class="col-sm-2"><br><br><br><button class="btn btn-primary">Add</button></div>
        <div class="check2 col-sm-10">
                <div class="one col-sm-2">
                        <input type="checkbox"> ALL<br>
                        <input type="checkbox"> IRSWPBDT<br>
                        <input type="checkbox"> IRSWPBEF<br>
                        <input type="checkbox"> IRSWPBGN<br>
                        <input type="checkbox"> IRSWPBHD<br>
                        <input type="checkbox"> IRSWPBRL<br>
                        <input type="checkbox"> IRSWPBWP<br>
                        <input type="checkbox"> IRSWPCAD<br>
                        <input type="checkbox"> IRSWPCHF<br>
                        <input type="checkbox"> IRSWPCLP<br>
                        <input type="checkbox"> IRSWPCNY<br>
                        <input type="checkbox"> IRSWPCOP<br>
                        <input type="checkbox"> IRSWPCPI<br>
                        <input type="checkbox"> IRSWPCUC<br>
                        <input type="checkbox"> IRSWPCUP<br>
                        <input type="checkbox"> IRSWPCZK<br>
                </div>
                <div class="two col-sm-2">
                        <input type="checkbox"> IRSWPDEM<br>
                        <input type="checkbox"> IRSWPDKK<br>
                        <input type="checkbox"> IRSWPDZD<br>
                        <input type="checkbox"> IRSWPEGP<br>
                        <input type="checkbox"> IRSWPERI<br>
                        <input type="checkbox"> IRSWPESB<br>
                        <input type="checkbox"> IRSWPESP<br>
                        <input type="checkbox"> IRSWPETB<br>
                        <input type="checkbox"> IRSWPEUR<br>
                        <input type="checkbox"> IRSWPFIM<br>
                        <input type="checkbox"> IRSWPFKP<br>
                        <input type="checkbox"> IRSWPFRF<br>
                        <input type="checkbox"> IRSWPGBP<br>
                        <input type="checkbox"> IRSWPGGD<br>
                        <input type="checkbox"> IRSWPGHS<br>
                        <input type="checkbox"> IRSWPGRD<br>
                </div>
                <div class="three col-sm-2">
                        <input type="checkbox"> IRSWPGYD<br>
                        <input type="checkbox"> IRSWPHKD<br>
                        <input type="checkbox"> IRSWPHNL<br>
                        <input type="checkbox"> IRSWPHUF<br>
                        <input type="checkbox"> IRSWPIDR<br>
                        <input type="checkbox"> IRSWPIEP<br>
                        <input type="checkbox"> IRSWPILS<br>
                        <input type="checkbox"> IRSWPINR<br>
                        <input type="checkbox"> IRSWPIRR<br>
                        <input type="checkbox"> IRSWPISK<br>
                        <input type="checkbox"> IRSWPITL<br>
                        <input type="checkbox"> IRSWPJMD<br>
                        <input type="checkbox"> IRSWPJOD<br>
                        <input type="checkbox"> IRSWPJPY<br>
                        <input type="checkbox"> IRSWPKES<br>
                        <input type="checkbox"> IRSWPKGD<br>
                </div>
                <div class="four col-sm-2">
                        <input type="checkbox"> IRSWPKGS<br>
                        <input type="checkbox"> IRSWPKHR<br>
                        <input type="checkbox"> IRSWPKRW<br>
                        <input type="checkbox"> IRSWPKWD<br>
                        <input type="checkbox"> IRSWPKZT<br>
                        <input type="checkbox"> IRSWPLKR<br>
                        <input type="checkbox"> IRSWPLRD<br>
                        <input type="checkbox"> IRSWPLYD<br>
                        <input type="checkbox"> IRSWPMXN<br>
                        <input type="checkbox"> IRSWPMYR<br>
                        <input type="checkbox"> IRSWPNGN<br>
                        <input type="checkbox"> IRSWPNLG<br>
                        <input type="checkbox"> IRSWPNOK<br>
                        <input type="checkbox"> IRSWPNPL<br>
                        <input type="checkbox"> IRSWPNTD<br>
                        <input type="checkbox"> IRSWPNZD<br>
                </div>
                <div class="five col-sm-2">
                        <input type="checkbox"> IRSWPPHP<br>
                        <input type="checkbox"> IRSWPPKR<br>
                        <input type="checkbox"> IRSWPPLN<br>
                        <input type="checkbox"> IRSWPPTE<br>
                        <input type="checkbox"> IRSWPROL<br>
                        <input type="checkbox"> IRSWPRON<br>
                        <input type="checkbox"> IRSWPRUB<br>
                        <input type="checkbox"> IRSWPSAR<br>
                        <input type="checkbox"> IRSWPSBD<br>
                        <input type="checkbox"> IRSWPSCR<br>
                        <input type="checkbox"> IRSWPSDG<br>
                        <input type="checkbox"> IRSWPSEK<br>
                        <input type="checkbox"> IRSWPSGD<br>
                        <input type="checkbox"> IRSWPSKK<br>
                        <input type="checkbox"> IRSWPTHB<br>
                        <input type="checkbox"> IRSWPTND<br>
                </div>
                <div class="col-sm-2">

                        <input type="checkbox"> IRSWPTRN<br>
                        <input type="checkbox"> IRSWPTRY<br>
                        <input type="checkbox"> IRSWPTTD<br>
                        <input type="checkbox"> IRSWPTWD<br>
                        <input type="checkbox"> IRSWPTZS<br>
                        <input type="checkbox"> IRSWPUAH<br>
                        <input type="checkbox"> IRSWPUGX<br>
                        <input type="checkbox"> IRSWPUSD<br>
                        <input type="checkbox"> IRSWPXAF<br>
                        <input type="checkbox"> IRSWPXAG<br>
                        <input type="checkbox"> IRSWPXAU<br>
                        <input type="checkbox"> IRSWPXEU<br>
                        <input type="checkbox"> IRSWPZAR<br>
                        <input type="checkbox"> IRSWPZMK<br>
                </div>

        </div>
</div>



<router-outlet></router-outlet>