.navbar{
    margin-left:-30px;
    border:none;
    border-radius:0px;
}
.navbar-nav li{padding-left:20px}
.form-control{ border-radius:0px;size: 0px}

.cal{
    margin-top: 10px;
}

.sidebar{
  height: 2500px;
}
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}


.contorl-align-label{
  margin-left:25px;
  margin-top:12px;
  text-align:left;
}

.today input{
  width: 120pt;
  color: lightslategray;
  font-size: 15px;
}
.today{
  padding-top: 8px;
}

li label{
  padding-top:10px;
  color:ghostwhite;
}

label{
  font-weight: bold;
}

.lab-market{
  padding-top: 10px;
}