


.navbar{
  margin-left:-30px;
  border:none;
  border-radius:0px;
  
}
.check1 {
  width: 800px;
  height: 200px;  
  padding: 10px;
  border: 1px solid grey;
  font-weight: bold;
}
.check2 {
  width: 800px;
  height: 200px;  
  padding: 10px;
  border: 1px solid grey;
  font-weight: bold;
}
button{
  border: 1px solid grey;
  font-weight: bold;
  background-color:transparent;
}
button{
  border: 1px solid grey;
  font-weight: bold;
  background-color:transparent;
  font-size:1000;
}






