<div class="row content-section">
                <div class="col-sm-2">
                                <div><label>Login Name</label> </div><br><br><br>
                                <div><label>First Name</label></div><br><br>
                                <div><label>Business</label></div><br><br>
                                <div><label>Last Modified</label></div><br><br><br><br>
                
                        </div>
                        <div class="col-sm-2">
                                <div name="Login Name">
                                        <select class="form-control">
                                                <option>{{model.txtLoginName}}</option>
                                        </select></div><br><br>
                                <div><input type="text" class="form-control" name="FirstName" value={{model.txtFirstName}}></div><br><br>
                                <div  name="Business"><select class="form-control">
                                                <option>{{model.cmbBusiness}}</option>
                                        </select></div><br><br>
                                <div><input type="text" class="form-control" name="Last Modified" value={{model.txtLastModified}}></div>
                                <br><br><br>
                        </div>
                
                        <div class="col-sm-2">
                                <br><br><br><br>
                                <div><label>Last Name</label> </div><br><br>
                                <div><label>Department</label></div><br><br>
                                <div><label>Last VerifiedBy</label></div>
                        </div>
                        <div class="col-sm-2">
                                <br><br><br>
                                <div><input type="text" name="Last Name" class="form-control" value={{model.txtLastName}}></div><br><br>
                                <div input name="Department"><select class="form-control">
                                                <option selected *ngFor="let department of model.cmbDepartment">{{department}}</option>
                                        </select></div><br><br>
                                <div><input type="text" name="Last VerifiedBy" class="form-control" value={{model.txtLastVerifiedBy}}></div>
                
                        </div>
                        <div class="col-sm-2">
                                <br><br><br><br>
                                <div><label>Role</label> </div><br><br>
                                <div><label>Last ModifiedBy</label></div><br><br>
                                <div><label>Last Verified</label></div>
                        </div>
                        <div class="col-sm-2">
                                <br><br><br>
                                <div> <select class="form-control">
                                                <option>{{model.cmbRole}}</option>
                                        </select></div><br><br>
                                <div><input type="text" name="Last ModifiedBy" class="form-control" value={{model.txtLastModifiedBy}}></div>
                                <br><br>
                                <div><input type="text" name="Last Verified" class="form-control" value={{model.txtLastVerified}}></div>
                        </div>
   <div class="clearfix"></div>
   <div class="col-sm-2"><label>Current Access</label></div>
   <div class="check1 col-sm-10">

   </div>
   <div class="clearfix"></div>
   <br><br>
   <div class="col-sm-2"><br><br><br><button>Add</button></div>
   <div class="check2 col-sm-10">
 </div>
</div>



<router-outlet></router-outlet>