


.navbar{
  margin-left:-30px;
  border:none;
  border-radius:0px;
}
.check1 {
  width: 800px;
  height: 200px;  
  padding: 10px;
  border: 1px solid grey;
}
.check2 {
  width: 800px;
  height: 300px;  
  padding: 10px;
  border: 1px solid grey;
}
button{
  border: 1px solid grey;
  font-weight:500;
  background-color:transparent;
  font-size:1000;
  
}




