 .bg-color-name{
     background-color:slategrey;height: 30px;
 }
 .container-bg{
    background-color: lightgrey;
    
    height: 500px;
    border: 2px solid green;
    
    margin: 25px;
    border-radius:5px;

 }
 .pag-text-align{
    padding-left:10px;
    font-weight:550;
    padding-top:3px;
    font-size:17px;
    color:white;
}
 
 .table-bordered {
    border: 2px solid #fff !important;
}
 .mainDivision {
    background-color: lightgrey;
    width:1250px;
    height:500px;
    border: 2px solid green;
    padding: 25px;
    margin: 25px;
  }
 
.firstHeaderDiv{
    background-color: rgb(114, 114, 190);
    width:1140px;
    height: 20px;
}

.SecondHeaderDiv{
    background-color: rgb(195, 195, 224);
    width:780px;
    height:45px;  
}

.ThirdHeaderDiv{
    background-color: rgb(195, 195, 224);
    width:780px;
    height:300px; 
    margin-top:5px;
}

.fourthDivision{
    margin-left:10px;
    margin-top:5px;
}

.fifthDivision{
    margin-left:-130px;
}

 
.cllas{
    width:1140px;
    height: 10px;
}
.mat-dialog-container{
    overflow:hidden !important;
    }
 th, td {
    
    text-align: center;
  }
  

  .tableHeading{
    border: 1px solid black;
  }

  

  .hrBorder{
      border: 1px solid  red;
      margin-top: -10px;
  }
  .modelHeading{
      
      text-align: center;
      margin-top: 50px;
  }
  .mycss{
      margin-left: 10px;
      margin-right: 10px;
  }
  .textmain{
      padding-left:40px
  }

  .textmain1{
    padding-left: 200px;
    padding-bottom: -20px
  }

  .startDate{
      margin-left:-20px;
  }


  .navbara2{
    justify-content: space-between;

}
span{
    padding-right: 1rem;
}

.material-iconsA{
    color:white;
}

.mat-icon
{
    margin-left:1060px;
    cursor: pointer;
}

.mat-icon:hover,.mat-icon:active {
    color:black;   
  }