<div class="col-sm-4 text-center">
  <div class="col-sm-6"></div>
    <div class="form-group col-sm-6">
        <select class="form-control">
          <option>{{model.cmbPayAmortType}}</option>
          <option></option>
          <option></option>
          <option></option>
        </select>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-12"></div>
      <div class="form-group col-sm-6">
          <select class="form-control">
            <option>{{model.txtPayAmortStartDate}}</option>
            <option></option>
            <option></option>
            <option></option>
          </select>
        </div>
       <div class="form-group col-sm-6">
            <select class="form-control">
              <option>{{model.txtPayAmortEndDate}}</option>
              <option></option>
              <option></option>
              <option></option>
            </select>
          </div>
          <div class="clearfix"></div>
          <div class="col-sm-12"></div>
          <div class="form-group col-sm-6">
              <select class="form-control">
                <option>{{model.cmbPayAmortBusDay}}</option>
                <option></option>
                <option></option>
                <option></option>
              </select>
            </div>
            <div class="form-group col-sm-6">
                <select class="form-control">
                  <option>{{model.cntPayAmortCalendars}}</option>
                  <option></option>
                  <option></option>
                  <option></option>
                </select>
              </div>
              <div class="clearfix"></div>
              <div class="col-sm-12"></div>
              <div class="form-group col-sm-6">
                  <select class="form-control">
                    <option>{{model.cmbPayAmortFreq}}</option>
                    <option></option>
                    <option></option>
                    <option></option>
                  </select>
                </div>
          
                <div class="form-group col-sm-6">
                    <select class="form-control">
                      <option>{{model.cmbPayAmortMarching}}</option>
                      <option></option>
                      <option></option>
                      <option></option>
                    </select>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-sm-12"></div>
                  <div class="form-group col-sm-6">
                      <select class="form-control">
                        <option>{{model.cmbPayAmortRollDay}}</option>
                        <option></option>
                        <option></option>
                        <option></option>
                      </select>
                    </div>
                   
                    <div class="form-group col-sm-6">
                        <select class="form-control">
                          <option>{{model.cmbPayAmortRollWeek}}</option>
                          <option></option>
                          <option></option>
                          <option></option>
                        </select>
                      </div>
                      <div class="clearfix"></div>
                      <div class="form-group col-sm-6"></div>
                      <div class="form-group col-sm-6">
                        <input type="text" class="form-control" id="fname" placeholder="" value={{model.txtPayAmortAmount}}>
                  </div>  
</div>

<div class="col-sm-4 text-center">
  <div class="col-sm-12"></div>
  <div class="col-sm-12"></div>
  <div class="col-sm-12"><br>
      <label class="label-control">Amort type</label>
  </div><br><br><br><br>
  <div class="col-sm-12">
     <label class="label-control">Amort Start Date/End Date</label>
 </div><br><br><br>
 <div class="col-sm-12">
     <label class="label-control">Amort Bus Day/Calendars</label>
 </div><br><br><br>
 <div class="col-sm-12">
     <label class="label-control">Amort Freq/Marching</label>
 </div><br><br><br>
 <div class="col-sm-12">
     <label class="label-control">Amort RollDay/RollWeek</label>
 </div><br><br><br>
 <div class="col-sm-12">
    <label class="label-control">Amort Amount</label>
</div><br><br><br>

</div>
<div class="col-sm-4 text-center">
  <div class="col-sm-6"></div>
    <div class="form-group col-sm-6">
        <select class="form-control">
          <option>{{model.cmbRecAmortType}}</option>
          <option></option>
          <option></option>
          <option></option>
        </select>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-12"></div>
      <div class="form-group col-sm-6">
          <select class="form-control">
            <option>{{model.txtRecAmortStartDate}}</option>
            <option></option>
            <option></option>
            <option></option>
          </select>
        </div>
       <div class="form-group col-sm-6">
            <select class="form-control">
              <option>{{model.txtRecAmortEndDate}}</option>
              <option></option>
              <option></option>
              <option></option>
            </select>
          </div>
          <div class="clearfix"></div>
          <div class="col-sm-12"></div>
          <div class="form-group col-sm-6">
              <select class="form-control">
                <option>{{model.cmbRecAmortBusDay}}</option>
                <option></option>
                <option></option>
                <option></option>
              </select>
            </div>
            <div class="form-group col-sm-6">
                <select class="form-control">
                  <option>{{model.cntRecAmortCalendars}}</option>
                  <option></option>
                  <option></option>
                  <option></option>
                </select>
              </div>
              <div class="clearfix"></div>
              <div class="col-sm-12"></div>
              <div class="form-group col-sm-6">
                  <select class="form-control">
                    <option>{{model.cmbRecAmortFreq}}</option>
                    <option></option>
                    <option></option>
                    <option></option>
                  </select>
                </div>
          
                <div class="form-group col-sm-6">
                    <select class="form-control">
                      <option>{{model.cmbRecAmortMarching}}</option>
                      <option></option>
                      <option></option>
                      <option></option>
                    </select>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-sm-12"></div>
                  <div class="form-group col-sm-6">
                      <select class="form-control">
                        <option>{{model.cmbRecAmortRollDay}}</option>
                        <option></option>
                        <option></option>
                        <option></option>
                      </select>
                    </div>
                   
                    <div class="form-group col-sm-6">
                        <select class="form-control">
                          <option>{{model.cmbRecAmortRollWeek}}</option>
                          <option></option>
                          <option></option>
                          <option></option>
                        </select>
                      </div>
                      <div class="clearfix"></div>
                      <div class="form-group col-sm-6"></div>
                      <div class="form-group col-sm-6">
                        <input type="text" class="form-control" id="fname" placeholder="" value={{model.txtRecAmortAmount}}>
                  </div>  
</div>
