.navbar{
    border:none;
    border-radius:0px;
}
.navbar-nav li{padding-left:15px}
li input{width:150px}
li select{width:150px}

.cal{
    margin-top: 10px;
}
.dropdown-submenu {
  position: relative;
}
 .dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}


.text-center{
  margin-top: 15px;
}  

.borderclass{
  border:2px solid whitesmoke; height:400px;
}

.content{margin-top:10px;margin-left: 20px}
   
  .label-control{
    margin-top: 2px;
   padding-bottom: 0px;
  
  } 

  .today input{
    width: 120pt;
    color: lightslategray;
    font-size: 15px;
  }
 
  .navbar.mynavhead{
    margin:0px;
    padding: 10px 0px 10px 5px
  }

  .fields{
    padding-top: 30px;
    margin-left:110px;
  }