<div class="container">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>EVType</th>
        <th>EVDate</th>
        <th>Currency</th>
        <th>Amount</th>
        <th>FirmAccount</th>
        <th>CustomerAccount</th>
        <th>SalesPerson</th>
        <th>Comments</th>
       </tr>
    </thead>
    <tbody>
      <tr>
        <td>></td>
        <td></td>
        <td>
          <select class="form-control">
            <option>FLOW</option>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
          </select>
        </td>
        <td>
          <input type="text" value=" " class="form-control">
        </td>
        <td>
          <select class="form-control">
            <option></option>
          </select>
        </td>
        <td>0.00</td>
        <td>
          <select class="form-control">
            <option></option>
            <option></option>
          </select>
        </td>
        <td>
          <select class="form-control">
            <option></option>
            <option></option>
          </select>
        </td>
        <td>
          <select class="form-control">
            <option></option>
            <option></option>
          </select>
        </td>
        <td>Hello SalesCredit</td>
    </tr>
    </tbody>
  </table>
</div>
<br>
<div class="buttons">
  <button class="btn btn-success col-sm-1" type="button">Add</button>
  <button class="btn btn-danger col-sm-1" type="button" [ngStyle]="{'margin-left.px':'10'}">Delete</button>
  <button class="btn btn-success col-sm-1" type="button" [ngStyle]="{'margin-left.px':'10'}">Apply</button>
</div>