<div class="row content-section">
        <div class="col-sm-2"><br>
                <div><label>Login Name</label> </div><br><br>
                <div><label>First Name</label></div><br><br><br>
                <div><label>Business</label></div><br><br><br>
                <div><label>Last Modified</label></div><br><br><br><br>

        </div>
        <div class="col-sm-2">
                <div name="Login Name">
                        <select class="form-control">
                                <option>{{model.txtLoginName}}</option>
                        </select></div><br><br>
                <div><input type="text" class="form-control" name="FirstName" value={{model.txtFirstName}}></div><br><br>
                <div  name="Business"><select class="form-control">
                                <option>{{model.cmbBusiness}}</option>
                        </select></div><br><br>
                <div> <input type="date" class="form-control">
                        <!-- <input type="text" class="form-control" name="Last Modified" value={{model.txtLastModified}}> --></div>
                <br><br><br>
        </div>

        <div class="col-sm-2">
                <br><br><br><br><br>
                <div><label>Last Name</label> </div><br><br><br>
                <div><label>Department</label></div><br><br>
                <div><label>Last VerifiedBy</label></div>
        </div>
        <div class="col-sm-2">
                <br><br><br><br>
                <div><input type="text" name="Last Name" class="form-control" value={{model.txtLastName}}></div><br><br>
                <div input name="Department"><select class="form-control">
                                <option selected *ngFor="let department of model.cmbDepartment">{{department}}</option>
                        </select></div><br><br>
                <div><input type="text" name="Last VerifiedBy" class="form-control" value={{model.txtLastVerifiedBy}}></div>

        </div>
        <div class="col-sm-2">
                <br><br><br><br><br>
                <div><label>Role</label> </div><br><br>
                <div><label>Last ModifiedBy</label></div><br><br><br>
                <div><label>Last Verified</label></div>
        </div>
        <div class="col-sm-2">
                <br><br><br><br>
                <div> <select class="form-control">
                                <option>{{model.cmbRole}}</option>
                        </select></div><br><br>
                <div><input type="text" name="Last ModifiedBy" class="form-control" value={{model.txtLastModifiedBy}}></div>
                <br><br>
                <div><input type="date" class="form-control">
                        <!-- <input type="date" name="Last Verified" class="form-control" value={{model.txtLastVerified}}> --></div>
        </div>


<div class="clearfix"></div>
<div class="col-sm-2"><br><br><label>Current Access</label></div>
<div class="check1 col-sm-10">
        <input type="checkbox"> ABBSBKWN<br>
        <input type="checkbox"> ABSABKASA<br>
        <input type="checkbox"> ALTBRCA<br>

</div>
<div class="clearfix"></div>
<br><br>
<div class="col-sm-2"><br><br><br><button class="btn btn-primary">Add</button></div>
<div class="check2 col-sm-10">
        <div class="one col-sm-2">
                <input type="checkbox"> ALL<br>
                <input type="checkbox"> AABPK<br>
                <input type="checkbox"> ABBNAUK<br>
                <input type="checkbox"> ANHYPBEL<br>
                <input type="checkbox"> ASBBKNZ<br>
                <input type="checkbox"> BANCDERP<br>
                <input type="checkbox"> BANKOFAM<br>
                <input type="checkbox"> BANKOFCO<br>
                <input type="checkbox"> BANKOFNYL<br>
                <input type="checkbox"> BANKOFSCO<br>
                <input type="checkbox"> BANKOFWC<br>
                <input type="checkbox"> BARCBKNYK<br>
                <input type="checkbox"> BILBINTLUX<br>
                <input type="checkbox"> BKCHINANY<br>
                <input type="checkbox"> BKEASTASI<br>
                <input type="checkbox"> BKENGLAN<br>
                <input type="checkbox"> BKJAPANTO<br>
                <input type="checkbox"> BKMONTTO<br>
                <input type="checkbox"> BKSBKKSTA<br>
        </div>
        <div class="two col-sm-2">

                <input type="checkbox"> BNABANKKE<br>
                <input type="checkbox"> BONYEULD<br>
                <input type="checkbox"> BRUBKWV<br>
                <input type="checkbox"> BUSDEVBKC<br>
                <input type="checkbox"> CAAMBKJOR<br>
                <input type="checkbox"> CENBKREPI<br>
                <input type="checkbox"> CENNABKKA<br>
                <input type="checkbox"> CHARWEST<br>
                <input type="checkbox"> CHASELDN<br>
                <input type="checkbox"> CHEGLUK<br>
                <input type="checkbox"> CHOHBKLTS<br>
                <input type="checkbox"> CITZBKALU<br>
                <input type="checkbox"> CITZBKCA<br>
                <input type="checkbox"> CITZBKTCA<br>
                <input type="checkbox"> COBANPEBE<br>
                <input type="checkbox"> COMMBKGE<br>
                <input type="checkbox"> COMMBKKW<br>
                <input type="checkbox"> CRDTAGLFR<br>
                <input type="checkbox"> DAHSBKHK<br>
        </div>
        <div class="three col-sm-2">


                <input type="checkbox"> DAICHIKBKC<br>
                <input type="checkbox"> DANBKDMK<br>
                <input type="checkbox"> DANSKEBK<br>
                <input type="checkbox"> DEFORMOR<br>
                <input type="checkbox"> DISCURREX<br>
                <input type="checkbox"> EIBKUS<br>
                <input type="checkbox"> EVGBKWTO<br>
                <input type="checkbox"> FACTPNABK<br>
                <input type="checkbox"> FARMERBK<br>
                <input type="checkbox"> FCOMMBAN<br>
                <input type="checkbox"> FEDRBKSFS<br>
                <input type="checkbox"> FFINVLOAN<br>
                <input type="checkbox"> FORBKLUXR<br>
                <input type="checkbox"> GLSBWIS<br>
                <input type="checkbox"> HKBKCA<br>
                <input type="checkbox"> HNABKARK<br>
                <input type="checkbox"> HSBANKHK<br>
                <input type="checkbox"> ICICIBKIND<br>
                <input type="checkbox"> INDEVECOR<br>
        </div>
        <div class="four col-sm-2">



                <input type="checkbox"> INGBKNL<br>
                <input type="checkbox"> INTERCOM<br>
                <input type="checkbox"> INTNALBKA<br>
                <input type="checkbox"> KMBKCORP<br>
                <input type="checkbox"> KVSBKNOR<br>
                <input type="checkbox"> LANSBKDM<br>
                <input type="checkbox"> LOSANATBK<br>
                <input type="checkbox"> MCOMMBKP<br>
                <input type="checkbox"> MERFARBK<br>
                <input type="checkbox"> NATAUSBK<br>
                <input type="checkbox"> NATBKNZ<br>
                <input type="checkbox"> NATCOMBK<br>
                <input type="checkbox"> OVERSEAS<br>
                <input type="checkbox"> PBKNORTH<br>
                <input type="checkbox">PCOMMBKL <br>
                <input type="checkbox"> PJBNATBKI<br>

                <input type="checkbox"> PNCBKUS<br>
                <input type="checkbox"> RABOBKLD<br>
                <input type="checkbox"> RABOBKNL<br>
        </div>
        <div class="five col-sm-2">

                <input type="checkbox"> RBANKOFIN<br>
                <input type="checkbox"> RBFGCA<br>
                <input type="checkbox"> RBSNY<br>
                <input type="checkbox"> RMBKSA<br>
                <input type="checkbox"> RPNATBKN<br>
                <input type="checkbox"> SAMBKSL<br>
                <input type="checkbox"> SBCNYK<br>
                <input type="checkbox"> SBI<br>
                <input type="checkbox"> SBKBERMAL<br>
                <input type="checkbox"> SCOMMBKT<br>
                <input type="checkbox"> SSBKMASTS<br>
                <input type="checkbox"> TBANKIND<br>
                <input type="checkbox"> TSTDBKGSA<br>
                <input type="checkbox"> UBSBAS<br>
                <input type="checkbox"> UBSGVA<br>
                <input type="checkbox"> UBSLAU<br>
                <input type="checkbox"> UBSLDN<br>
                <input type="checkbox"> UBSLUG<br>
                <input type="checkbox"> UBSNYK<br>
        </div>
        <div class="six col-sm-2">

                <input type="checkbox"> UBSTOK<br>
                <input type="checkbox"> UBSWIN<br>
                <input type="checkbox"> UBSZUR<br>
                <input type="checkbox"> UFBPAR<br>
                <input type="checkbox"> ULSTERBKB<br>
                <input type="checkbox"> ULSTERBKD<br>
                <input type="checkbox"> UNATBKWV<br>
                <input type="checkbox"> UNBKNORO<br>
                <input type="checkbox"> UNIBKNYK<br>
                <input type="checkbox"> UNIBKSZLD<br>
                <input type="checkbox"> WEFTBKHK<br>
                <input type="checkbox"> WESTTRUN<br>
                <input type="checkbox"> WTONSBKW<br>
                <input type="checkbox"> ZLAENDERB<br>
                <input type="checkbox"> ZLAENDERV<br>



        </div>

</div>
</div>



<router-outlet></router-outlet>