<div class="row content-section">
    <div class="col-sm-2">
      <div class="left-nav sidebar"><br>
        <ul>
          <li>
            <a routerLink="/tradebasic" routerLinkActive="active">Trade Basic </a>
          </li>
          <li>
            <a routerLink="/swapticket" routerLinkActive="active">Swap Ticket</a>
          </li>
          <li>
            <a routerLink="/quickticket" routerLinkActive="active">Quick Ticket</a>
            
          </li>
        </ul>
        </div>
    </div>
    <div class="col-sm-10">
        <div>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                   </div>
                  <ul class="nav navbar-nav">
                   
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Actions <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a  tabindex="-1">New</a></li>
                           <li class="dropdown-submenu"><a class="dropdown-toggle" tabindex="-1" data-toggle="dropdown" href="#">Save As<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#">New Trade </a></li>
                            <li><a tabindex="-1" href="#">Template Trade</a></li>
                          </ul>
                        </li>
                       <li><a href="#">Save &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ctrl+s</a></li>
                        <li><a href="#">Delete</a></li>
                        <li class="dropdown-submenu"><a class="dropdown-toggle" tabindex="-1" data-toggle="dropdown" href="#">Reload<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#">Latest</a></li>
                            <li><a tabindex="-1" href="#">History</a></li>
                            <li><a tabindex="-1" href="#">Templates</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Approve</a></li>
                        <li><a href="#">Exit</a></li>
                      </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Business Event <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Bought Back</a></li>
                        <li><a href="#">Partial Bought Back</a></li>
                        <li><a href="#">MO Maintenance</a></li>
                        <li><a href="#">Migration</a></li>
                        <li><a href="#">Assignment</a></li>
                        <li><a href="#">Partial Assignment</a></li>
                      </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Flow <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Push to MO</a></li>
                        <li><a href="#">Push to FO</a></li>
                        <li><a href="#">Push to BO</a></li>
                        <li><a href="#">Withdraw</a></li>
                        <li class="dropdown-submenu"><a class="dropdown-toggle" tabindex="-1" data-toggle="dropdown" href="#">Email<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#">Send Ticket</a></li>
                            <li><a tabindex="-1" href="#">Send CashFlow</a></li>
                            <li><a tabindex="-1" href="#">Send Risk</a></li>
                            <li><a tabindex="-1" href="#">Send PV</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Analytics <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Calculate PV   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;F2</a></li>
                        <li class="dropdown-submenu"><a class="dropdown-toggle" tabindex="-1" data-toggle="dropdown" href="#">Calculate Risk<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#">Delta   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ctrl+D</a></li>
                            <li><a tabindex="-1" href="#">Gamma   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ctrl+G</a></li>
                            <li><a tabindex="-1" href="#">Vega   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ctrl+V</a></li>
                            <li><a tabindex="-1" href="#">Theta  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ctrl+T</a></li>
                          </ul>
                        <li><a href="#">Calculate PAA   &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;F10</a></li>
                        <li><a href="#">CashFlow Report   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;F3</a></li>
                      </ul>
                    </li>
                  
                    <li class="content">
                      Market
                  </li>
                <li>
                    <select class="form-control">
                        <option>Live</option>
                        <option>EndOfDay</option>
                        <option>Historic</option>
                      </select>
                 
                </li>
                <li class="content">
            Today
                </li>
                <li>
                    <input type="date" class="form-control">
                </li>
                
                
                  </ul>
                  </div>
                  </nav>
                </div>
  
      <div class="clearfix"></div>
      <div class="col-sm-10 text-center">
          <div class="form-group col-sm-2">  <br>
              <label class="control-label" for="dob">Position Pay/Rec</label>
           </div>
           <div class="form-group col-sm-4">
              <select class="form-control">
                  <option *ngFor="let ps of model.cmbQPaySide"selected>{{ps}}</option>
                  
                </select>
            </div>
            <div class="form-group col-sm-4">
              <select class="form-control">
                <option *ngFor="let rs of model.cmbQRecSide"selected>{{rs}}</option>
              </select>
          </div>
      </div>
      <div class="col-sm-10 text-center">
          <div class="form-group col-sm-2">  <br>
              <label class="control-label" for="dob">Currency/Notional</label>
           </div>
           <div class="form-group col-sm-4">
              <select class="form-control">
                <option *ngFor="let c of model.cmbQCurrency"selected>{{c}}</option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <input type="date" class="form-control" id="dob" value={{model.txtQNotional}}>
              </div>
      </div>
      <div class="col-sm-10 text-center">
          <div class="form-group col-sm-2">  <br>
              <label class="control-label" for="dob">Tenor</label>
           </div>
           <div class="form-group col-sm-4">
              <input type="text" class="form-control" id="dob" value={{model.txtQTenor}}>
            </div>
     </div>
      <div class="col-sm-10 text-center">
          <div class="form-group col-sm-2">  <br>
              <label class="control-label" for="dob">StartDate/EndDate</label>
           </div>
           <div class="form-group col-sm-4">
              <input type="date" class="form-control" id="dob" value={{model.txtQStartDate}}>
            </div>
            <div class="form-group col-sm-4">
                <input type="date" class="form-control" id="dob" value={{model.txtEndDate}}>
            </div>
      </div>
     </div>       
    </div>