<div class="container">
  <div class="col-sm-5">
      <div class="col-sm-12">
        <label class="control-label">BookingType</label>
        <select class="form-control">
          <option></option>
        </select>
      </div>
      <div class="col-sm-12">
          <label class="control-label">FlowStatus</label>
          <select class="form-control">
            <option></option>
          </select>
      </div>
      <div class="col-sm-12">
          <label class="control-label">OrigTradeRef</label>
          <input type="text" class="form-control">
      </div>
      <div class="col-sm-12">
          <label class="control-label">LastModifiedBy</label>
          <input type="text" class="form-control">
      </div>
      <div class="col-sm-12">
          <label class="control-label">LastVerifiedBy</label>
          <input type="text" class="form-control">
      </div>
</div>
    


  <div class="col-sm-5">
      <div class="col-sm-12">
          <label class="control-label">MatchStatus</label>
          <select class="form-control">
            <option></option>
          </select>
        </div>
        <div class="col-sm-12">
            <label class="control-label">OperationRef</label>
            <select class="form-control">
              <option></option>
            </select>
          </div>
          <div class="col-sm-12">
              <label class="control-label">AlternateRef</label>
              <input type="text" class="form-control">
          </div>
          <div class="col-sm-12">
              <label class="control-label">LastModifiedBy</label>
              <input type="text" class="form-control">
          </div>
          <div class="col-sm-12">
              <label class="control-label">LastVerifiedBy</label>
              <input type="text" class="form-control">
          </div>

  </div>
</div>