<!-- <div>
  <h2 style="text-align:left; font-style: italic">DERIVATIVES CONNECT</h2>
</div> -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><h3 style="color:honeydew;font-style:italic">Derivatives<br>Connect</h3></li>
      <li class="hom">
          <a href="active"><button class="btn btn-success" type="button">Home</button></a>
              
      <li class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">OTC Products
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a>Swap Ticket</a></li>
                <li><a>Swap Option</a></li>
                <li><a>Cap Floor</a></li>
                <li><a routerLink='/fra' routerLinkActive="active">FRA</a></li>
                <li><a>Bond</a></li>
              </ul>
      </li>
      <li class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">ET Products
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                  <li><a>BondFuture</a></li>
                  <li><a>BondFutureOption</a></li>
                  <li><a>MMFuture</a></li>
                  <li><a>MMFutureOption</a></li>
              </ul>
      </li>
      <li class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Asset Blotter
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                  <li><a>IRD Blotter</a></li>
                  <li><a>CRD Blotter</a></li>
                  <li><a>FX Blotter</a></li>
                  <li><a>EQ Blotter</a></li>
                  <li><a>Cash Blotter</a></li>
                </ul>
      </li>
      <li class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Risk Dash Board
              <span class="caret"></span></button>
              
      </li>
      <li class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Ref Data
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                  <li><a>Broker</a></li>
                  <li><a>Country</a></li>
                  <li><a>Currency</a></li>
                  <li><a>Curve</a></li>
                  <li><a>CustomerAccount</a></li>
                  <li><a>Exchanges</a></li>
                  <li><a>Firm Account</a></li>
                  <li><a>Traders</a></li>
                  <li><a>Instruments</a></li>
                  <li><a>Legal Entity</a></li>
                </ul>
      </li>
      <li class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">User Entitlements
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                  <li><a>Firm Account</a></li>
                  <li><a>CustomerAccount</a></li>
                  <li><a>Product</a></li>
                  <li><a>Location</a></li>
                  <li><a>MenuOption</a></li>
                  <li><a>LegalEntity</a></li>
                  <li><a>Profile-add</a></li>
                  <li><a>Profile-modify</a></li>
                </ul>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>