<div class="container-fluid">
  <table class="table table-striped table-bordered" >
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">EvType</th>
          <th scope="col">EvDate</th>
          <th scope="col">Currency</th>
          <th scope="col">Amount</th>
          <th scope="col">FirmAccount</th>
          <th scope="col">CustomerAccount</th>
          <th scope="col">SalesPerson</th>
          <th scope="col">Comments</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td></td>
          <td></td>
          
          <td>Flow</td>
          
          <td><input type="date" class="form-control" id="fname" placeholder=""></td>
          
          <td> <select class="form-control">
              <option></option>
              <option></option>
              <option></option>
              <option></option>
            </select></td>
          <td>0.00</td>
          <td> <select class="form-control">
              <option></option>
              <option></option>
              <option></option>
              <option></option>
            </select></td>
          <td> <select class="form-control">
              <option></option>
              <option></option>
              <option></option>
              <option></option>
            </select></td>
          
         
          <td>Hello</td>

        </tr>
        
      </tbody>
    </table>
    <button type="button" class="btn btn-primary col-sm-1" >Add</button>
    <button type="button" class="btn btn-danger col-sm-1" [ngStyle]="{'margin-left.px':'16'}">Delete</button>
    <button type="button" class="btn btn-success col-sm-1" [ngStyle]="{'margin-left.px':'16'}">Apply</button>
  </div>